
/.project
/.cproject
/.DS_Store
/packages/

/dist
/conan/
/singularity/
/.idea/

.DS_Store

*.ida

CMakeUserPresets.json

/build-linux64-server/
/build-dockcross-win64/
/build-win64/
/build-linux64/
/build-macos/
/build_archive/
/build-linux64-ubuntu/
/build*
/cmake-build*
/debug-build*
conan-build
conan-build/*
conan_provider.cmake

tests/unit/__pycache__/

wheelhouse/
